html, body {
    margin: 0;
    padding: 0;
}

body {
    --bg-color: rgb(219, 220, 226);
    --gameBoard-color: rgb(169, 64, 179);
    --primary-font: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: var(--primary-font);
    font-weight: 550;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

#gameBoard {
    box-shadow:  var(--gameBoard-color) 30px 20px 60px;
}

@media screen and (max-width: 600px) {
    h1 {
        margin: auto;
    }
}
